page-reportes {
  .greenapp {
    color: #095A51;

  }

  .contenedor-reportes {
    background-image: url('../assets/imgs/reportar_background.jpg');
    background-size: 61em 45em;
    background-repeat: no-repeat;
    background-position: -8em;
    height: 100%;
  }

  .transparent {
    opacity: 0.95;
    color: #095A51
  }

}
