page-home {
  .contenedor-home {
    background-image: url('../assets/imgs/home_background.jpg');
    background-size: 159rem 100rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 48.6rem;

  }

  .greenapp {
    color: #095A51;
  }

  .segmt {
    background-color: #17887B;
  }

  .tabs {
    height: 31rem;
  }

  .main-buttons {
    height: 9rem;
    width: 9rem;
    margin: 4rem 1.3rem 0 0;
    border-radius: 12%;
  }

  // estilos para calendario
  [col-1] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 14.285714285714286%;
  width: 14.285714285714286%;
  max-width: 14.285714285714286%;
}
.col {
  text-align: center;
  padding: 5px;
}
.last-month, .next-month {
  color: #999999;
  font-size: 90%;
}
.currentDate, .otherDate {
  padding: 5px;
}
.currentDate {
  font-weight: bold;
  background-color: red;
  color: white;
  border-radius: 30px;
}
.calendar-header {
  background-color: #095A51;
  color: #FFFFFF;
}
.event-bullet {
  margin: 2px auto;
  height: 5px;
  width: 5px;
  background-color: green;
  border-radius: 30px;
}
.selected-date {
  width: 20px;
  height: 2px;
  background-color: blue;
}
.unselected-date {
  border: none;
}
.calendar-body {
  .grid {
    padding: 0;
  }
  .col:last-child {
    border-right: none;
  }
  .calendar-weekday, .calendar-date {
    text-align: center;
    margin: 0;
  }
  .calendar-weekday {
    font-weight: bold;
    border-bottom: #666 1px solid;
    background-color: rgba(0, 150, 136, 0.78);
    color: white;
  }
  .calendar-date {
    border-top: solid 1px #1a732d;
    border-bottom: solid 1px #1a732d;
  }
}

  // end estilos calendario

  /*- - - - - - - - - -  RESPONSIVE - - - - - - - -
  - - - - - - - - - - - - - - - - - - - - - - - - - */

  //Iphone 6,7,8
  @media(max-width:375px) and (min-height:666px){
    .contenedor-home {
      height: 51.3rem;
    }
  }

  //Google Pixel
  @media(max-width:440px) and (min-height:730px){
    .contenedor-home {
      height: 57.7rem;
    }
    .tabs {
      padding: 12rem 0 0 0;
    }
  }

  //Iphone X
  @media(min-height:811px){
    .contenedor-home {
      height: 68.8rem;
    }
    .tabs {
      padding: 9rem 0 0 0;
    }
  }

  //S9
  @media(max-width:360px) and (min-height:740px){
    .contenedor-home {
      height: 58.6rem;
    }

    .contenedor-ecoaliados {
      background-size: 107rem 63rem;
      height: 62.8rem;
    }
    
    .tabs {
      padding: 6rem 0 0 0;
    }
  }

  //Ipad
  @media(max-width:767px) and (min-height:1023px){
    .contenedor-home {
    height: 89.8rem;
    }
    .main-buttons {
    height: 14rem;
    width: 14rem;
    margin: 4rem 3rem 0 0;
    }
    .logo {
    width: 14rem;
    margin: 2% 0 0 39%;
    }
    .logo-background {
    height: 19rem;
    background-position-y: 0rem;
    }
  }
}
