<ion-header>
  <ion-navbar color="greenapp">
    <ion-buttons>
      <button ion-button><ion-icon name="alarm"></ion-icon> <ion-title>LimpiApp</ion-title> </button>

    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-segment [(ngModel)]= "seleccionado" color="greenapp" padding-top>
    <ion-segment-button value="Home">Home</ion-segment-button>
    <ion-segment-button value="Registrate">Registrate</ion-segment-button>
    <ion-segment-button value="Contacto">Contacto</ion-segment-button>
  </ion-segment>
  <div class="contenedor-home" no-padding>

  <div *ngIf="seleccionado == 'Home'">

    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <button ion-button color="green-transparent" >Botón 1</button>
        </ion-col>
        <ion-col>
          <button ion-button color="green-transparent" md-4>Botón 2</button>
        </ion-col>
        <ion-col>
          <button ion-button color="green-transparent" md-4>Botón 3</button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <button ion-button color="green-transparent">Botón 4</button>
        </ion-col>
        <ion-col>
          <button ion-button color="green-transparent">Botón 5</button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      </ion-grid>
      </div>

  </div>
  <div *ngIf="seleccionado == 'Registrate'">
    <h2>Contenido Registrateee</h2>
  </div>
  <div *ngIf="seleccionado == 'Contacto'">
    <h2>Contenido Contacto</h2>
  </div>

</ion-content>
