page-home {
  .contenedor-home {
    background-image: url('../assets/imgs/home_background.jpg');
    background-size: 159rem 100rem;
    background-repeat: no-repeat;
    background-position: center;

    height: 100%;
  }

  .tabs {
    padding: 16% 0;
  }

  .main-buttons {
    height: 11rem;
    width: 11rem;
    padding: -4rem 1rem 0rem 1rem;
    margin: 6rem 2rem 0 2rem;
    border-radius: 12%;
    box-shadow: 1px 1px #333;
  }
  .logo {
    width: 30%;
    margin: 0 35% 0 35%;
  }

  .logo-background {
    background-image: url('../assets/imgs/logo_background.png');
    background-repeat: repeat-x;
    width: 100%;
    height: 16rem;
    margin: 0 0 0 0;
  }
}
