page-home {
  .contenedor-home {
    background-image: url('../assets/imgs/home_background.jpg');
    background-size: 159rem 100rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 48.6rem;

  }

  .greenapp {
    color: #095A51;
  }

  .segmt {
    background-color: #17887B;
  }

  .tabs {
    height: 31rem;
  }

  .main-buttons {
    height: 9rem;
    width: 9rem;
    margin: 4rem 1.3rem 0 0;
    border-radius: 12%;
  }



  //Iphone 6,7,8
  @media(max-width:375px) and (min-height:666px){
    .contenedor-home {
      height: 51.3rem;
    }
  }

  //Google Pixel
  @media(max-width:440px) and (min-height:730px){
    .contenedor-home {
      height: 57.7rem;
    }
    .tabs {
      padding: 12rem 0 0 0;
    }
  }

  //Iphone X
  @media(min-height:811px){
    .contenedor-home {
      height: 68.8rem;
    }
    .tabs {
      padding: 9rem 0 0 0;
    }
  }



  //S9
  @media(max-width:360px) and (min-height:740px){
    .contenedor-home {
      height: 58.6rem;
    }
    .tabs {
      padding: 6rem 0 0 0;
    }
  }

  //Ipad
  @media(max-width:767px) and (min-height:1023px){
    .contenedor-home {
    height: 89.8rem;
    }
    .main-buttons {
    height: 14rem;
    width: 14rem;
    margin: 4rem 3rem 0 0;
    }
    .logo {
    width: 14rem;
    margin: 2% 0 0 39%;
    }
    .logo-background {
    height: 19rem;
    background-position-y: 0rem;
    }
  }
}
