<ion-header>
  <ion-navbar color="greenapp">
    <ion-buttons>
      <button ion-button><ion-icon name="menu"></ion-icon> <ion-title>LimpiApp</ion-title> </button>
    </ion-buttons>
    <!---<ion-buttons end>
      <button ion-button icon-only (click)="salir()">Salir
        <ion-icon name="md-log-out"></ion-icon>
      </button>
</ion-buttons>-->
  </ion-navbar>
</ion-header>

<div *ngIf="showSplash" class="splash">
  <div class="spinner"></div>
</div>

<ion-content no-padding>
  <ion-segment [(ngModel)]= "seleccionado" color="white" class="segmt">
    <ion-segment-button value="Home">Inicio</ion-segment-button>
    <ion-segment-button value="Eventos">Eventos</ion-segment-button>
    <ion-segment-button value="Contacto">Contacto</ion-segment-button>
  </ion-segment>


  <div *ngIf="seleccionado == 'Home'">
  <div class="contenedor-home" no-padding>
    <div class="logo-background">
      <img src="../assets/imgs/logo.png" class="logo">
    </div>

    <ion-grid class="tabs">
      <ion-row>
        <ion-col col-xs></ion-col>
        <ion-col>
          <button ion-button color="green-transparent" [navPush]="CulturaPage" class="main-buttons"><img src="../assets/imgs/cultura.png"></button>

        </ion-col>
        <ion-col>
          <button ion-button color="green-transparent" [navPush]="RutasPage" class="main-buttons"><img src="../assets/imgs/mi_ruta.png"></button>
        </ion-col>
        <ion-col>
          <button ion-button color="green-transparent" [navPush]="ReportesPage" class="main-buttons"><img src="../assets/imgs/reportar.png"></button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-xs></ion-col>
        <ion-col>
          <button ion-button color="green-transparent" [navPush]="BeneficiosPage" class="main-buttons"><img src="../assets/imgs/beneficios.png"></button>
        </ion-col>
        <ion-col>
          <button ion-button color="green-transparent" [navPush]="EcoaliadosPage" class="main-buttons"><img src="../assets/imgs/ecoaliados.png"></button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      </ion-grid>
      </div>

  </div>
  <div *ngIf="seleccionado == 'Eventos'">

    <div class="logo-background_green">
      <img src="../assets/imgs/logo.png" class="logo">
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
          <ion-col col-10>
              <p class="greenapp">Recibirás notificaciones sobre fechas importantes relacionadas con el reciclaje y medio ambiente en esta sección. </p>
                <br/>
                <div class="calendar-header">
                  <ion-row class="calendar-month">
                    <ion-col col-2 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
                    <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
                    <ion-col col-2 (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
                  </ion-row>
                </div>
                <div class="calendar-body">
                  <ion-grid>
                    <ion-row class="calendar-weekday">
                      <ion-col>Dom</ion-col>
                      <ion-col>Lun</ion-col>
                      <ion-col>Mar</ion-col>
                      <ion-col>Mie</ion-col>
                      <ion-col>Jue</ion-col>
                      <ion-col>Vie</ion-col>
                      <ion-col>Sab</ion-col>
                    </ion-row>
                    <ion-row class="calendar-date">
                      <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
                      <ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="selectDate(day)">
                        <span class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
                        <ng-template #otherDate class="otherDate">
                          {{day}}<br>
                          <div class="event-bullet" *ngIf="checkEvent(day)"></div>
                        </ng-template>
                      </ion-col>
                      <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <div class="selected-event" *ngIf="isSelected">
                  <ion-list>
                    <ion-item *ngFor="let se of selectedEvent">
                      <ion-buttons end>
                        <button ion-button clear icon-only (click)="deleteEvent(se)">
                          <ion-icon name="close"></ion-icon>
                        </button>
                      </ion-buttons>
                      <h2>{{se.title}}</h2>
                      <h3>{{se.message}}</h3>
                      <p>Start Date: {{se.startDate}}<br>
                      Start Date: {{se.endDate}}</p>
                    </ion-item>
                  </ion-list>
                </div>
              </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-fab bottom right>
          <button ion-fab color="green-transparent" (click)="addEvent()"><ion-icon name="add"></ion-icon></button>

        </ion-fab>
      </div>
  <div *ngIf="seleccionado == 'Contacto'">
    <div class="logo-background_green">
      <img src="../assets/imgs/logo.png" class="logo">
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>

        </ion-col>
        <ion-col col-10>
        <h4 class="greenapp">Contacto</h4>

        <form #formContacto = "ngForm" (ngSubmit)="enviarFormulario(formContacto)">
          <ion-list>
              <ion-item>
                <ion-label fixed>Nombre:</ion-label>
                <ion-input type="text" [(ngModel)]= "contacto.nombre" name="nombre" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label fixed>Email:</ion-label>
                <ion-input type="email" [(ngModel)]= "contacto.email" name="email" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label fixed>Teléfono:</ion-label>
                <ion-input type="tel" [(ngModel)]="contacto.telefono" name="telefono" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label fixed>Mensaje:</ion-label>
                <ion-input type="string" [(ngModel)]= "contacto.mensaje" name="mensaje" required></ion-input>
              </ion-item>
              <ion-item>
                <button ion-button block type="submit" color="greenapp" [disabled]="!formContacto.valid" (click)="showAlert()">Enviar</button>
              </ion-item>
          </ion-list>
        </form>
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
