// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  greenapp:   #095A51,
  green-transparent: rgba(0, 150, 136, 0.78),
  white-transparent: rgba(255, 255, 255, 0.78),
  white:      #ffffff
);


/*- - - - estilos personalizados*/

.greenapp {
  color: #095A51;
}

.white {
  color: white;
  text-align: justify;
}

.green-transparent {
  background-color: rgba(0, 150, 136, 0.78);
}

.white-transparent{
background-color: rgba(255, 255, 255, 0.78)
}

.logo {
  width: 12rem;
  margin: 2% 0 0 32%;
}

.logo-background {
  background-image: url('../assets/imgs/logo_background.png');
  background-position-y: -3rem;
  background-repeat: repeat-x;
  width: 100%;
  height: 16rem;
  margin: 0 0 0 0;
  background-position-y: -3rem;
}

.logo-background_green {
  background-image: url('../assets/imgs/logo_background_green.png');
  background-position-y: -3rem;
  background-repeat: repeat-x;
  width: 100%;
  height: 16rem;
  margin: 0 0 0 0;
  background-position-y: -3rem;
}

p {
  color: #555;
  font-size: 0.95em;
  text-align: justify;
}


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

/*Personalizar colores
 --------------------------------------------------
*/
