page-siguenos {
  .follow_us {
    height: 11rem;
    width: 11rem;
    border-radius: 12%;
    margin: 22% 0 0 0;
  }
  .contenedor-siguenos {
    background-image: url('../assets/imgs/follow_background.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

  }
}
