page-siguenos {
  
  .follow_us {
    height: 11rem;
    width: 11rem;
    border-radius: 12%;
    margin: 22% 0 0 0;
  }

  .cont {
    width: 12em;
    height: 12em;
    border-radius: 12%;
    margin: 60% 0 0 0;
    padding: 3em 2em 0 2em;
  }
  .contenedor-siguenos {
    background-image: url('../assets/imgs/follow_background.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

  }
}
