page-rutas {
  #map {
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }

  .contenedor-rutas {
    background-image: url('../assets/imgs/rutas_background.jpg');
    background-size: 97rem 63rem;
    background-repeat: no-repeat;
    background-position: -16em;
    height: 48.6rem;

  }


  /*- - - - - - - - - -  RESPONSIVE - - - - - - - -
  - - - - - - - - - - - - - - - - - - - - - - - - - */

  //Iphone 6,7,8
  @media(max-width:375px) and (min-height:666px){
    .contenedor-rutas {
      height: 51.3rem;
    }
  }

  //Google Pixel
  @media(max-width:440px) and (min-height:730px){
    .contenedor-rutas {
      height: 57.7rem;
    }
    .tabs {
      padding: 12rem 0 0 0;
    }
  }

  //Iphone X
  @media(min-height:811px){
    .contenedor-rutas {
      height: 68.8rem;
    }
    .tabs {
      padding: 9rem 0 0 0;
    }
  }

  //S9
  @media(max-width:360px) and (min-height:740px){
    .contenedor-rutas {
      height: 62.8rem;
    }

    .contenedor-ecoaliados {
      background-size: 107rem 63rem;
      height: 62.8rem;
    }

    .tabs {
      padding: 6rem 0 0 0;
    }
  }

  //Ipad
  @media(max-width:767px) and (min-height:1023px){
    .contenedor-rutas {
    height: 89.8rem;
    }
    .main-buttons {
    height: 14rem;
    width: 14rem;
    margin: 4rem 3rem 0 0;
    }
    .logo {
    width: 14rem;
    margin: 2% 0 0 39%;
    }
    .logo-background {
    height: 19rem;
    background-position-y: 0rem;
    }
  }

}
